@import 'style.scss';

// :nth-child(odd) = un element sur deux en commençant par 1.
section:nth-child(odd){
    background-color: $bg-color-light-grey;
}
section h2 {
    font-weight: 900;
}

section h4 {
    font-weight: 300;
    font-size: large;
}

// header
header {
    .logo {
       font-weight: 400;
       padding: 9px;
       box-shadow: 0 3px 10px rgb(168 165 165);
       margin-bottom: 4px;
   }
   .localisation {
       background-color: #EAEAEA;  
       padding: 15px;
       font-weight: 500;
   }
}

//section 1 :
.explorer {

    h2 {
        padding: 40px 50px 15px;
    }
    p {
        font-weight: 300;
        font-size: larger;
        padding: 0 20px;
    }


       
}
//section 2 :
.fonctionnement {
    padding: 40px 0 60px 0;

    .numero {
        position: relative;
         // pour deplacer le numero ou l'on veut par rapport a la stepCard 
        right: 15px;
        font-weight: 400;
        background-color: $color-purple;
        color: $color-white;
        padding: 2px 8px;
        border-radius: 25px;
    }
    .cardContainer {
 
        .stepCard{
            display: flex;
            align-items: center;

            max-width: 390px;
            height: 3em;
            margin: 12px auto auto 21px;
            padding: 13px 0;
            @include radius(20px);
            @include boxShadow;
            background-color: $bg-color-light-grey;
            i {
                padding: 2%;
            }
        }
    }
    
}


//section 3 :

.restaurants {
    padding: 40px 0;
   
    h2 {
        padding: 20px 0 5px 20px;
    }
    .card {
        margin: 20px 15px auto;
        padding-bottom:10px;
        background-color: white;
        @include radius (20px);
       
        .photo {
            width: 100%;
            height: 190px;
            border-radius: 20px 20px 0 0;
            object-fit: cover;
        }
        .bottomCard {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 15px;
            .nouveau {
                font-weight: 500;
                font-size: 15px;
                padding: 5px 12px;
                color: $color-green;
                background-color: $color-validated;
                position: relative;
                bottom: 200px ;
                left: 60px;
                @include radius(2px);
            }
            .purpleRadient {
                font-size: x-large;
                // TO CHANGE INTO GRADIENT !!!!!!!!!!!!!!!!!!!!!!
                /*  color: mix($color-purple, $color-pink, $weight: 0.8);  */
            }
        }


    }
}

@media (min-width: 768px) {

    .explorer {
        
        p {
            font-size: initial;
        }
    }
    .fonctionnement {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        .cardContainer {
            display: flex;
            margin-left: 15px;
        }
    }
    .restaurants {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        .restoCardContainer {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .card {
                margin:20px 50px ;
                width: 37%; 
                height: 30%;
            }
        }
}
}

@media only screen and (min-width: 1024px) {

.fonctionnement {
    .cardContainer {
        justify-content: center;
        .stepCard {
  
            min-width: 280px;
        padding-right: 40px;
        margin: 15px;
       
        }
    }
}
}