@import 'style.scss';

// :nth-child(odd) = un element sur deux en commençant par 1.
section:nth-child(odd){
    background-color: $bg-color-light-grey;
}
section h2 {
    font-weight: 900;
}

section h4 {
    font-weight: 300;
    font-size: large;
}

// header
header {
    .logo {
       font-weight: 400;
       padding: 15px;
       box-shadow: 0 2px 10px rgb(168 165 165);
       margin-bottom: 4px;
   }
   .localisation {
       background-color: #EAEAEA;  
       padding: 15px;
       font-weight: 500;
   }
}

//section 1 :
.explorer {
    display: flex;
    flex-direction: column;
    h2 {
        padding: 40px 50px 15px;
    }
    p {
        font-weight: 300;
        font-size: larger;
        padding: 0 20px;
    }  
    .bigBtn {
        margin: 40px auto 60px;
    }
}
//section 2 :
.fonctionnement {
    padding: 40px 0 60px 0;

    .numero {
        position: relative;
         // pour deplacer le numero ou l'on veut par rapport a la stepCard 
        right: 15px;
        font-weight: 400;
        background-color: $color-purple;
        color: $color-white;
        padding: 2px 8px;
        border-radius: 25px;
    }
    .cardContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .stepCard{
            display: flex;
            align-items: center;
            width: 85%;
            max-width: 400px;

            margin-top: 32px;
            padding: 13px 0;
            @include radius(20px);
            @include boxShadow;
            background-color: $bg-color-light-grey;
            i {
                padding: 2%;
            }
        }
    }
    
}


//section 3 :

.restaurants {
    padding: 40px 0;
   
    h2 {
        padding: 20px 0 5px 20px;
    }
    .card {
        margin: 20px 15px auto;
        padding-bottom:10px;
        background-color: white;
        @include radius (20px);
       
        .photo {
            width: 100%;
            height: 190px;
            border-radius: 20px 20px 0 0;
            object-fit: cover;
        }
        .nomEtLocalisation *{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .bottomCard {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 15px;
           
        }
        .nouveauContainer {
            width: 0;
            height: 0;
            margin-left: 70%;
        }
        .nouveau {
            width: 58px;
            font-weight: 500;
            font-size: 15px;
            padding: 5px 12px;
            color: $color-green;
            background-color: $color-validated;
            position: relative;
            bottom: 245px;
            @include radius(2px);
        }


    }
}

@media (min-width: 768px) {

    .explorer {   
        p {
            font-size: initial;
        }
    }
    .restaurants {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        .restoCardContainer {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .card {
                margin:20px 50px ;
                width: 37%; 
                height: 30%;
            }
        }
}
}

@media only screen and (min-width: 1024px) {

.fonctionnement {
        margin-left: 6%;
    .cardContainer {
        width: 100%;
        flex-direction: row;
        .stepCard {
        padding-right: 40px;
        margin: 15px;
        min-width: 250px;
        max-width: 350px;
        }
    }
}
.restaurants 
{
    .card {
        .nouveauContainer {
            margin-left: 75%;
        }
    }
}
}