@import 'style.scss';


// faire des mixins pour les importer partout


.loader {
    position:absolute;
    top: 35%;
    left: 50%;
    margin-left: -2em; /* la moitié de la taille de l'element pour parfaitement moitié*/
	width: 4em;
	height: 4em;
    opacity: 0;
    background-color:rgba($color: white, $alpha: 0.1);

    border-top: .4em solid $color-purple;
	border-right: .4em solid transparent;
	animation: loader 1s linear infinite;
    animation-iteration-count: 3; /* pour qu'il s'arrete au bout de 3 tours */
	border-radius: 100%;
}
@keyframes loader {
/*  
version codepen :
    to {
        transform: rotate(360deg)
    } */
    0% {
        transform: rotate(0deg);
        opacity: 0.3;
    }
    25%  {
        transform: rotate(90deg);
        opacity: 0.7;
    }
    50%  {
        transform: rotate(180deg);
        opacity:1;
    }
    75%  {
        transform: rotate(270deg);
        opacity: 0.7;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0.3;
    } 
}

// HEART QUI SE REMPLIT

.full-heart {
    display: none; 
    color: white;
    position: relative;
    left: -34px;
    opacity: 0;
    transition: all 1s;
}
.fa-regular {
    transition: all 1s;
}
.hearts:hover {
    .full-heart {
        display:inline-block;
        left: 0;
        opacity: 1;
        // Pour que la couleur de l'icon soit en linear-gradient:
    /*     background: -moz-linear-gradient(top, $color-purple 0%, $color-pink 100%);
        background: -webkit-linear-gradient(top, $color-purple 0%, $color-pink 100%); */
        background: linear-gradient(to bottom, $color-purple 0%, $color-pink 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .fa-regular {
        display: none; 
       opacity: 0;
    }
}

// CARD UNE PAR UNE

@keyframes appearing {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.menu {
 .card {
    animation: appearing 2s ease-in forwards;
    opacity: 0;
    &:first-child {      
        animation-delay: 0.8s;
    }
    &:nth-child(2){
        animation-delay: 1.5s;
    }
    &:nth-child(3){
        animation-delay: 2.2s;
    }
    &:nth-child(4){
        animation-delay: 2.9s;
    }
    &:nth-child(5){
        animation-delay: 3.6s;
    }
} 
}