@import 'style.scss';

header {
     .logo {
        font-weight: 400;
        padding: 9px;
        box-shadow: 0 3px 10px rgb(168 165 165);
        margin-bottom: 4px;
    }
    .localisation {
        background-color: #EAEAEA;  
        padding: 15px;
        font-weight: 500;
    }
}
