// COULEURS VAR

$color-white : white;
$color-validated : #99E2D0;
$color-green: #008766;
$color-light-blue: #89C8FA;
$color-dark-blue: #003A68;
$color-purple: #9356DC;
$color-pink: #FF79DA;
$bg-color-light-grey: #F6F6F6;


// MIXIN   

@mixin buttonGradient($color1, $color2) {
    background-image: linear-gradient(to bottom, $color1 , $color2);
}
@mixin radius($radiuspx){
    border-radius: $radiuspx;
}

@mixin boxShadow{
    // style du precedent Livrable, modifié
    filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.2));
}

// global style

@font-face {
    font-family: 'Shrikhand';
    src: url('../assets/fonts/Shrikhand/Shrikhand-Regular.ttf');
}

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none
}

a {
    color: black;
}


// global class

.text-align {
    text-align: center;
}

.logo, .title {
    font-family: 'Shrikhand', cursive;
}

.displayNone {
    display: none;
}

/* .empty-heart {
    background-image: url("../assets/logos/emptyHeart.png");
} */

.bigBtn {
    min-width: 200px;
    color: $color-white;
    font-weight: 400;
    font-size: large;
    margin: 30px 0 58px;
    padding: 15px;
    border: none;
    @include boxShadow;
    @include buttonGradient($color-pink, $color-purple );
    @include radius(25px);
       a {
        color: $color-white;
       }

    /* animations */
    transition: all 550ms;
       &:hover {
            opacity: 0.8;
            filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.5));
        }
        }


    // logo COEUR

.fa-heart {
     /* animations */
    transition: all 450ms;
    &:hover {
        transform: scale(1.2);
       color: red;
    }
    &:active {
        background-color: $color-pink;
    }
}

