@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

a {
  color: black;
}

i {
  font-size: 30px;
}

.text-align {
  text-align: center;
}

.logo, .title {
  font-family: "Shrikhand", cursive;
}

.displayNone {
  display: none;
}

/* .empty-heart {
    background-image: url("../assets/logos/emptyHeart.png");
} */
.bigBtn {
  min-width: 200px;
  color: white;
  font-weight: 400;
  font-size: large;
  margin: 30px 0 58px;
  padding: 15px;
  border: none;
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 25px;
  /* animations */
  transition: all 550ms;
}
.bigBtn a {
  color: white;
}
.bigBtn:hover {
  opacity: 0.8;
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.5));
}

/* .fa-solid {

} */
section:nth-child(odd) {
  background-color: #F6F6F6;
}

section h2 {
  font-weight: 900;
}

section h4 {
  font-weight: 300;
  font-size: large;
}

header .logo {
  font-weight: 400;
  padding: 9px;
  box-shadow: 0 3px 10px rgb(168, 165, 165);
  margin-bottom: 4px;
}
header .localisation {
  background-color: #EAEAEA;
  padding: 15px;
  font-weight: 500;
}

.explorer h2 {
  padding: 40px 50px 15px;
}
.explorer p {
  font-weight: 300;
  font-size: larger;
  padding: 0 20px;
}

.fonctionnement {
  padding: 40px 0 60px 0;
}
.fonctionnement .numero {
  position: relative;
  right: 15px;
  font-weight: 400;
  background-color: #9356DC;
  color: white;
  padding: 2px 8px;
  border-radius: 25px;
}
.fonctionnement .cardContainer .stepCard {
  display: flex;
  align-items: center;
  max-width: 390px;
  height: 3em;
  margin: 12px auto auto 21px;
  padding: 13px 0;
  border-radius: 20px;
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.2));
  background-color: #F6F6F6;
}
.fonctionnement .cardContainer .stepCard i {
  padding: 2%;
}

.restaurants {
  padding: 40px 0;
}
.restaurants h2 {
  padding: 20px 0 5px 20px;
}
.restaurants .card {
  margin: 20px 15px auto;
  padding-bottom: 10px;
  background-color: white;
  border-radius: 20px;
}
.restaurants .card .photo {
  width: 100%;
  height: 190px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.restaurants .card .bottomCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 15px;
}
.restaurants .card .bottomCard .nouveau {
  font-weight: 500;
  font-size: 15px;
  padding: 5px 12px;
  color: #008766;
  background-color: #99E2D0;
  position: relative;
  bottom: 200px;
  left: 60px;
  border-radius: 2px;
}

@media (min-width: 768px) {
  .explorer p {
    font-size: initial;
  }
  .fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .fonctionnement .cardContainer {
    display: flex;
    margin-left: 15px;
  }
  .restaurants {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .restaurants .restoCardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .restaurants .restoCardContainer .card {
    margin: 20px 50px;
    width: 37%;
    height: 30%;
  }
}
@media only screen and (min-width: 1024px) {
  .fonctionnement {
    margin-left: 6%;
  }
  .fonctionnement .cardContainer {
    justify-content: center;
  }
  .fonctionnement .cardContainer .stepCard {
    min-width: 280px;
    padding-right: 40px;
    margin: 15px;
  }
}
