@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

a {
  color: black;
}

.text-align {
  text-align: center;
}

.logo, .title {
  font-family: "Shrikhand", cursive;
}

.displayNone {
  display: none;
}

.empty-heart {
  background-image: url("../assets/logos/emptyHeart.png");
}

.bigBtn {
  min-width: 200px;
  color: white;
  font-weight: 400;
  font-size: large;
  margin: 30px 0 58px;
  padding: 15px;
  border: none;
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 25px;
  /* animations */
  transition: all 550ms;
}
.bigBtn a {
  color: white;
}
.bigBtn:hover {
  opacity: 0.8;
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.5));
}

.fa-heart {
  transition: all 450ms;
}
.fa-heart:hover {
  transform: scale(1.2);
  color: red;
}
.fa-heart:active {
  background-color: #FF79DA;
}
