@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

a {
  color: black;
}

i {
  font-size: 30px;
}

.text-align {
  text-align: center;
}

.logo, .title {
  font-family: "Shrikhand", cursive;
}

.displayNone {
  display: none;
}

/* .empty-heart {
    background-image: url("../assets/logos/emptyHeart.png");
} */
.bigBtn {
  min-width: 200px;
  color: white;
  font-weight: 400;
  font-size: large;
  margin: 30px 0 58px;
  padding: 15px;
  border: none;
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 25px;
  /* animations */
  transition: all 550ms;
}
.bigBtn a {
  color: white;
}
.bigBtn:hover {
  opacity: 0.8;
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.5));
}

/* .fa-solid {

} */
.loader {
  position: absolute;
  top: 35%;
  left: 50%;
  margin-left: -2em; /* la moitié de la taille de l'element pour parfaitement moitié*/
  width: 4em;
  height: 4em;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 0.3em solid #99E2D0;
  border-right: 0.3em solid transparent;
  animation: loader 1s linear infinite;
  animation-iteration-count: 3; /* pour qu'il s'arrete au bout de 3 tours */
  border-radius: 100%;
}

@keyframes loader {
  /*  
  version codepen :
      to {
          transform: rotate(360deg)
      } */
  0% {
    transform: rotate(0deg);
    opacity: 0.3;
  }
  25% {
    transform: rotate(90deg);
    opacity: 0.7;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;
  }
  75% {
    transform: rotate(270deg);
    opacity: 0.7;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.3;
  }
}
.full-heart {
  display: none;
  color: white;
  position: relative;
  left: -34px;
  opacity: 0;
  transition: all 1s;
}

.fa-regular {
  transition: all 1s;
}

.hearts:hover .full-heart {
  display: inline-block;
  left: 0;
  opacity: 1;
  /*     background: -moz-linear-gradient(top, $color-purple 0%, $color-pink 100%);
      background: -webkit-linear-gradient(top, $color-purple 0%, $color-pink 100%); */
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hearts:hover .fa-regular {
  display: none;
  opacity: 0;
}
