@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

a {
  color: black;
}

i {
  font-size: 30px;
}

.text-align {
  text-align: center;
}

.logo, .title {
  font-family: "Shrikhand", cursive;
}

.displayNone {
  display: none;
}

.bigBtn {
  min-width: 200px;
  color: white;
  font-weight: 400;
  font-size: large;
  margin: 30px 0 58px;
  padding: 15px;
  border: none;
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 25px;
  color: white;
  /* animations */
  transition: all 550ms;
}
.bigBtn:hover {
  opacity: 0.8;
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.5));
}

/* .fa-solid {

} */
footer {
  background-color: hsl(0, 0%, 21%);
  color: white;
}
footer .logo {
  padding: 20px;
  font-weight: 200;
}
footer nav {
  padding: 0 0 20px 20px;
}
footer li {
  margin: 10px;
}
footer a {
  color: white;
}
footer a i {
  font-size: 15px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  footer {
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
  footer h3 {
    margin: 10px;
  }
  footer nav {
    padding: 0;
  }
  footer nav ul {
    display: flex;
    align-items: center;
  }
  footer nav ul li:nth-child(even) {
    margin-right: 40px;
  }
}
