@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

a {
  color: black;
}

i {
  font-size: 30px;
}

.text-align {
  text-align: center;
}

.logo, .title {
  font-family: "Shrikhand", cursive;
}

.displayNone {
  display: none;
}

.bigBtn {
  min-width: 200px;
  color: white;
  font-weight: 400;
  font-size: large;
  margin: 30px 0 58px;
  padding: 15px;
  border: none;
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 25px;
  color: white;
  /* animations */
  transition: all 550ms;
}
.bigBtn:hover {
  opacity: 0.8;
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.5));
}

/* .fa-solid {

} */
body {
  position: absolute;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  font-weight: 400;
  padding: 33px 0;
}
header .fa-arrow-left {
  font-size: large;
  padding-left: 15px;
}
header .logo {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  width: 180px;
}

.photoResto {
  width: 100%;
  /*     z-index: -1; */
  max-height: 330px;
  object-fit: cover;
}

.menu {
  z-index: 1;
  background-color: #F6F6F6;
  position: relative;
  top: -40px;
  border-radius: 40px 40px 0 0;
  padding: 0 10px;
}
.menu .nomEtCoeur {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 15px;
}
.menu .nomEtCoeur .title {
  font-size: 28px;
  font-weight: unset;
}
.menu .nomEtCoeur .hearts {
  padding-left: 25px;
}
.menu .containerMenus {
  margin-bottom: 50px;
}
.menu .containerMenus h3 {
  font-weight: 300;
}
.menu .containerMenus .underline {
  border: 2px solid #99E2D0;
  width: 50px;
}
.menu .containerMenus .containerDish {
  display: flex;
  flex-direction: column;
}
.menu .containerMenus .containerDish .card {
  background-color: white;
  max-width: 500px;
  border-radius: 15px;
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.2));
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.menu .containerMenus .containerDish .card .description {
  padding: 12px;
  flex: 1;
  width: 75%;
}
.menu .containerMenus .containerDish .card .description h4,
.menu .containerMenus .containerDish .card .description p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.menu .containerMenus .containerDish .card .description h4 {
  padding: 3px 0;
  font-size: 16px;
}
.menu .containerMenus .containerDish .card .description .detailPrix {
  display: flex;
  justify-content: space-between;
}
.menu .containerMenus .containerDish .card .description .detailPrix .prix {
  font-weight: bold;
}
.menu .containerMenus .containerDish .card .chosen {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  width: 0;
  transition: all 1s;
}
.menu .containerMenus .containerDish .card .chosen i {
  font-size: 0;
  transition: all 1s;
}
.menu .containerMenus .containerDish .card .chosen:active, .menu .containerMenus .containerDish .card .chosen:hover {
  width: 0;
  transition: all 1s;
}
.menu .containerMenus .containerDish .card .chosen:active i, .menu .containerMenus .containerDish .card .chosen:hover i {
  font-size: 0;
}
.menu .containerMenus .containerDish .card:hover .chosen {
  visibility: visible;
  width: 65px;
}
.menu .containerMenus .containerDish .card:hover .chosen i {
  font-size: 20px;
}
.menu .bigBtn {
  margin-left: calc(50% - 100px);
}

footer {
  position: relative;
  top: -40px;
}

@media (min-width: 768px) {
  .menu .nomEtCoeur {
    justify-content: center;
  }
  .menu .containerMenus {
    margin: 0 20% 40px 20%;
  }
  .menu .containerMenus .containerDish {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 1024px) {
  .menu {
    margin: 0 13%;
  }
}
